#.gitignore

~$*
*.DS_Store
Thumbs.db
Desktop.ini

#folder
build/

logs

#fixed file
*.exe
*.txt
*.def
*.dsp
*.lib
*.doc
*.dll
*.lnt
*.pm
*.xls
*.dbg
*.DBG
*.o
*.plg
*.keep
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

#temp file
~*
*.log
*.cmm
*.men
*.ini
*.fig
*.cmp
*.tmp
*.err

#script
*.bat

#±£ÊØÄ£Ê½
!/resources/fonts/

# vim swap files
*.swp