<div class="topbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">@</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active:isActive('/{{menu.path}}', '{{$index}}')}" ng-repeat="menu in menus"><a href="#/{{menu.path}}">{{menu.name}}</a></li>
                <!--
                <li><a href="#about">商品</a></li>
                <li><a href="#order">订单</a></li>
                <li><a href="#member">会员</a></li>
                <li><a href="#article">内容</a></li>
                <li><a href="#statistics">统计</a></li>
                <li><a href="#system">系统</a></li>
                -->
                <!--
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more</a></li>
                    </ul>
                </li>
                -->
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">hongquanli@qq.com</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">辅助工具 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <!-- <li class="divider"></li> -->
                    <li><a href="#">Separated link</a></li>
                </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>